<div class="layout-side-section">
<div id="sidebar"  class="list-sidebar overlay-sidebar hidden-xs hidden-sm">
				<div class="desk-sidebar list-unstyled sidebar-menu"><div class="standard-sidebar-section nested-container hidden" data-title="My Workspaces"><div class="standard-sidebar-label">
			<span><svg class="icon  icon-xs" style="">
			<use class="" href="#icon-small-down"></use>
		</svg></span>
			</div></div><div class="standard-sidebar-section nested-container" data-title="Public">
                    <div class="sidebar-item-custom sidebar-item-container is-draggable" item-parent="" item-name="Home" item-public="1">
				<div class="desk-sidebar-item standard-sidebar-item selected">
					<a href="/app/home" class="item-anchor" title="Home">
						<span class="sidebar-item-icon" item-icon="getting-started"><svg class="icon  icon-md" style="">
			<use class="" href="#icon-getting-started"></use>
		</svg></span>
						<span class="sidebar-item-label">Home<span>
					</span></span></a>
				</div>
				<div class="sidebar-child-item nested-container"></div>
			</div>
<div class="sidebar-child-item nested-container"></div>
			</div></div></div>
    </div>
